{% extends 'base.html' %}

{% block content %}
  <h1>Login</h1>
{#  <a href="{% url 'password_reset' %}">Reset password</a>#}
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Submit">
    <input type="hidden" name="next" , value="{{ next }}">
  </form>
{% endblock %}