{% extends "base.html" %}

{% block content %}
  <h1>Login:</h1>
  {% if error %}
    <p style="color: red"><strong>{{ error }}</strong></p>
  {% endif %}
  <form action="{% url 'accounts:login' %}" method="post">
  {% csrf_token %}
    <label>Username
      <input type="text" name="username">
    </label>
    <br>
    <label>Password
      <input type="password" name="password">
    </label>
    <br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}