<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li><strong>User: {{ user.username }}</strong></li>
    <li>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Log Out</button>
      </form>
    </li>
    <li>
      <a href="{% url 'password_change' %}">Change password</a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'login' %}">Login</a>
    </li>
    <li>
      <a href="{% url 'user:register' %}">Register</a>
    </li>
    <li>
      <a href="{% url 'password_reset' %}">Reset password</a>
    </li>
  {% endif %}
  <br>
  <li><a href="{% url 'catalog:index' %}">Home</a></li>
  <li><a href="{% url 'catalog:book_list' %}">All books</a></li>
  <li><a href="{% url 'catalog:author_list' %}">All authors</a></li>
  <li><a href="{% url 'catalog:literary_format_list' %}">All literary formats</a></li>
</ul>
