<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block title %}
    <title>Library</title>
  {% endblock %}
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      {% block sidebar %}
        {% include 'includes/sidebar.html' %}
      {% endblock %}

    </div>
    <div class="col-sm-9">
      {% block content %}
      {% endblock %}

      {% block pagination %}
        {% include 'includes/pagination.html' %}
      {% endblock %}
    </div>
  </div>
</div>
</body>
</html>