{% extends "base.html" %}

{% block content %}
  <h1>Title: {{ author.first_name }} {{ author.last_name }}</h1>
  <div class="m-3">
    <p><strong>Books: </strong></p>
    <hr>
    {% for book in author.books.all %}
      <p class="text-muted">{{ book.id }}</p>
      <a href="{{ book.get_absolute_url }}">{{ book.title }} ({{ book.format }})</a>
      <hr>
      {% if book.description %}
        <p>{{ book.description }}</p>
      {% else %}
        <p>There is no description by this book.</p>
      {% endif %}
    {% empty %}
      <p>There are no books by this author in our library.</p>
    {% endfor %}
  </div>
{% endblock %}