{% extends "base.html" %}

{% block content %}
  <h1>Author List:</h1>
  {% if author_list %}
    <ul>
      {% for author in author_list %}
        {#        <li><a href="{% url 'catalog:book_detail' book.id %}">{{ book.title }} ({{ book.format }})</a></li>#}
        <li><a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no books.</p>
  {% endif %}

{% endblock %}