{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Book List:<a style="float: right" href="{% url 'catalog:book_create' %}">+</a></h1>
  <form action="" method="GET" class="form-check-inline d-flex" >
    {{ search_form|crispy }}
    <input type="submit" value="🔎" class="btn btn-outline-secondary">
  </form>
  {% if book_list %}
    <ul>
      {% for book in book_list %}
        {#        <li><a href="{% url 'catalog:book_detail' book.id %}">{{ book.title }} ({{ book.format }})</a></li>#}
        <li><a href="{{ book.get_absolute_url }}">{{ book.title }} ({{ book.format }})</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no books.</p>
  {% endif %}

{% endblock %}